<div class="footermain">
   <div class="container">
     <div class="footer_content">
       <div class="contact">
         <h4>Contacts</h4>
            <i class="lni lni-envelope"></i>
            <a href="mailto: aselectronic56@gmail.com">aselectronic56@gmail.com</a>
       </div>
       <ul class="networkicons">
            <i class="lni lni-facebook-filled icon"></i>
            <i class="lni lni-instagram-original icon"></i>
            <i class="lni lni-twitter icon "></i>
            <i class="lni lni-whatsapp icon" ></i>
        </ul>
       <div class="productlinks">
         <h4>Products</h4>
         <i class="lni lni-display"><a routerLink ='computers' >Pc</a></i>
         <i class="lni lni-laptop"><a routerLink='notebooks'>Notebook</a></i>
         <i class="lni lni-mobile"><a routerLink='phones'>Phone</a></i>
      </div>
     </div>
      
   </div>

</div>