
<div class="heading">
   <h4 class="head">Contacts</h4>
   <div class="line"></div>
</div>
<div class="contactmain">
   <div class="contacts">
      <div class="links">
         <h3 class="contacthead">Follow Us </h3>
         <i class="lni lni-facebook-filled icon"><span class="icons">www.facebook.com/aselectronic54/</span></i>
         <i class="lni lni-instagram-original icon"><span class="icons">www.instagram.com/aselectronic54</span></i>
         <i class="lni lni-twitter icon "><span class="icons">www.twitter.com/aselectronuc54</span></i>
         
      </div>
          <h3 class="mailshead">Conntact Us </h3>
      <div class="mails">
         <i class="lni lni-whatsapp icon" ><span class="icons">+985(56)85-98-45</span></i>    
         <i class="lni lni-envelope icon"><span class="icons">aselectronic54@gmail.com</span></i>
      </div>
      

   </div>
   <div class="map">
      <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d386535.6203910256!2d43.826749449999994!3d40.81017905!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2s!4v1587662079024!5m2!1sru!2s" width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0">

      </iframe>
   </div> 
</div>